hr {
	display: none;
}

html {
    font-size: 16px;
}

body {
    display: flex;
	flex-direction: column;
	align-items: stretch;
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	word-break: keep-all;
	overflow-wrap: break-word;
	font-family: Pretendard, Malgun Gothic, 맑은 고딕, dotum, 돋움, sans-serif;
}

:root {
    font-size: 1px;

    --baseline: 4px;
    --baseline-3x: calc(var(--baseline)*3);
    --baseline-4x: calc(var(--baseline)*4);
    --baseline-5x: calc(var(--baseline)*5);
    --baseline-6x: calc(var(--baseline)*6);
    --baseline-7x: calc(var(--baseline)*7);
    --baseline-8x: calc(var(--baseline)*8);
    --baseline-9x: calc(var(--baseline)*9);
    --baseline-10x: calc(var(--baseline)*10);
    
}


@media (max-width: 480px) {
    :root {
        font-size: 0.75px;
    }
}



// @media (min-width: 768px) {
//     :root {
//         font-size: 1px;
//     }
// }





// @media (min-width: 1024px) {
//     :root {
//         font-size: calc(--baseline-6x / 1.5);
//     }
// }

img {
	max-width: 100%;
}
.wbr {
	display: inline-block;
}
